// custom.scss

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=latin-ext");

// Roboto font
$roboto: "Roboto", sans-serif;

// Boje
$plava: #00386c;
$crvena: #cf1f25;
$svjetlo-plava: #ddf7ff;

//Boje ispod ikona
$smjestaj: #cf1f25;
$hrana: #D26A09;
$kultura: #FAC401;
$aktivni: #43B17A;
$zdravlje: #AFC624;
$izleti: #172882;
$priroda: #82942A;
$nautika: #419CD6;
$prijevoz: #A8529A;
$paket: #419CD6;
$ostalo: #E84490;
$vodici: #55D6FF;

strong {
	color: $plava;
}

body {
	font-family: $roboto;
	margin: 0px;
	line-height: 1.4;
}

#app {
	   -webkit-font-smoothing: antialiased;
	   -moz-osx-font-smoothing: grayscale;
	   text-align: center;
	   color: $plava;
		// background: $svjetlo-plava;
}


div.v-stepper .v-step {
    
    margin-right: 0;
}


@media (min-width: 1200px){

	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1140px;
	}

}

@media (max-width: 1200px){
	div.cofferHolderSingle div.fullPost .botContentHolder {
   
		padding: 2% 2%;
	   
	}
}

a {
	color: $plava;

	&:hover {
		color: $crvena
	}
}