/* eslint-disable */
<template>
  <div id="footer">
    <div class="containerFooter">
      <!-- 1 -->
      <div class="slikeFooter">
        <a href="http://croatia.hr/hr-HR/dozivi-hrvatsku/Puna-zivota"
          ><img
            class="footerHtz"
            style="max-width: 175px"
            src="@/assets/htz_logo.svg"
        /></a>
      </div>
      <!-- 2 -->
      <div class="slikeFooter" style="margin-left: 0">
        <a href="https://mint.gov.hr/"
          ><img style="padding: 0; height: 90px" src="@/assets/hrv_logo.svg"
        /></a>
      </div>
      <!-- 3 -->
      <div class="footer__mreze">
        <a href="https://hr-hr.facebook.com/croatia.hr/" target="_blank"><img style="width: 29px" src="@/assets/fb_logo.svg" >
        </a>
        <a href="https://www.youtube.com/user/croatia" target="_blank"
          ><img src="@/assets/yt_logo.svg" />
        </a>
        <a href="https://twitter.com/croatia_hr" target="_blank"
          ><img src="@/assets/tw_logo.svg" />
        </a>
        <a href="https://www.instagram.com/croatiafulloflife/" target="_blank"
          ><img style="width: 30px" src="@/assets/ins_logo.svg"
        /></a>
      </div>
      <!-- 4 -->

      <div class="prava">
        <p><a href="/uvjeti-koristenja">Uvjeti korištenja</a></p>
        <p>
          <a style="cursor: pointer" @click="changehideCookieA"
            >Postavke kolačića</a
          >
        </p>
        <p>
          <a href="/politika-kolacica"><span>Pravila kolačića</span></a>
        </p>
        <p>
          <a href="/pravila-i-uvjeti-sudjelovanja"
            ><span>Opći uvjeti sudjelovanja</span></a
          >
        </p>
      </div>

      <div class="row">
        <div>
          <p class="copyright">
            Copyright &copy; 2020. Hrvatska turistička zajednica
          </p>
        </div>
        <div>
          <p class="copyright">
            Tel.: <a href="tel:+38514699353">01/ 4699 353</a>,
            <a href="tel:+38512092954">01/2092 954</a> i
            <a href="tel:+38514699356">01/ 4699 356</a> &nbsp;|&nbsp; E-mail:
            <a href="mailto:info@tjedanodmoravrijedan.hr"
              >info@tjedanodmoravrijedan.hr</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import ClientQuery from '@/components/ClientQuery.vue'

export default {
  name: "ClientFooter",
  key(route) {
    return route.fullPath
  },
  components: {},

  methods: {
    changehideCookieA() {
      // console.log('test')
      console.log(this)
      // return this.$store.$state.hideCookie = false;
      this.$store.commit("changehideCookie", false)
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
/* .footer {
	background: $plava;
	padding: 3rem 0;
	a {
		color: white;
		text-decoration: none;
	}
	p {
		color: white;
	}
	div {
		color: white;
	}
	.grid_footer {
		display: grid;
		// grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 3rem 8rem; 

		margin:auto 60px;
		
		.flex-social {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			img {
				width: 28px;
				padding-right: 1rem;
			}
		}
		.flex-htz-logo {
			align-items: center;
			display: flex;
			justify-content: center;
			height: 80%;
			img{
				width: 136px;
			}
		}
		.flex-hrv-logo {
			align-items: center;
			display: flex;
			justify-content: center;
			height: 80%;
			img{
				width: 220px;
				
			}
		}
	}
}

.container {
	max-width: 1840px;
	width: 100%;
	margin: 0 auto;
} */

#footer {
  background: #00386c;
  font-weight: 500;
}

.containerFooter {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.slikeFooter {
  margin: auto;
  margin-left: 10px;
  img {
    padding: 35px;
    max-width: 225px;
  }
}

hr {
  border-bottom: 1px solid white;
  max-width: 85%;
  opacity: 30%;
}

.footer__mreze {
  display: flex;
  margin: auto;
  margin-left: 0;

  img {
    width: 35px;
  }
  a {
    padding: 10px;
  }
}

.prava {
  text-align: left;
  padding: 25px 15px;
  line-height: 1.6;
  font-size: 0.8rem;
  p a {
    margin-bottom: 0px;
    text-decoration: none;
    color: white;
  }
}

.copyright {
  margin: 0px;
  padding-bottom: 15px;
  font-size: 12px;
  color: white;
  // width: 49vw;

  a {
    text-decoration: none;
    color: white;
  }
}

.row {
  width: 100%;
  display: flex;
  // flex-wrap:wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .containerFooter {
    width: 90%;
  }
  .prava {
    text-align: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -15px;

    p {
      margin: 0;
      padding: 0.5rem;
    }
  }
  .footer__mreze {
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .containerFooter {
    width: 100%;
  }
  .slikeFooter {
    img {
      padding: 20px;
      width: 150px;
    }
  }
  .footer__mreze {
    margin: auto;
    margin-bottom: 20px;
  }
}
</style>
