<template>
  <div class="navigation">
    <div class="navWrapper">
      <div>
        <a href="/"><img class="glupiSvg" src="@/assets/HTZ-TOV-logo.svg"></a>
      </div>
      <div class="linkHolderDesktop">
        <a href="https://tjedanodmoravrijedan.hr/Akcija">O akciji</a>
        <a href="https://tjedanodmoravrijedan.hr/cesta-pitanja"
          >Česta pitanja</a>
        <a href="/B2B">Za poduzetnike</a>
      </div>

      <!-- Hamburger -->

      <hamburger
        id="clickbox"
        class="hamburger-button"
        :stroke="2"
        :gap="8"
        color="#fff"
        :open.sync="open"
      />

      <transition name="fade">
        <div v-if="open" class="linkHolderMobile">
          <div class="navWrapper">
            <div class="linkHolder">
              <ul class="links">
                <li>
                  <a href="https://tjedanodmoravrijedan.hr/Akcija">
                    <span @click="open = !open">O akciji</span></a>
                </li>
                <li>
                  <a href="/B2B">
                    <span @click="open = !open">Za poduzetnike </span></a>
                </li>
                <li>
                  <a href="https://tjedanodmoravrijedan.hr/cesta-pitanja"
                    ><span @click="open = !open">Česta pitanja</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import Vue from "vue"
import "vue-hamburger/index.css"
Vue.component("Hamburger", require("vue-hamburger"))
// Example Vue component using the hamburger
export default {
  name: "Navigation",
  key(route) {
    return route.fullPath
  },
  components: {},
  data() {
    return {
      searchKey: "",
      open: false,
    }
  },

  mounted() {
    // MENU CLOSE OUTSIDE - this diffrent than i Vue
    const self = this
    window.addEventListener("click", function (e) {
      if (!self.$el.contains(e.target)) {
        self.open = false
      }
    })
  },
}
</script>
<style scoped lang="scss">
.trazilica {
  position: absolute;
  right: 16vw;
  input {
    background: white url(../assets/search.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    padding: 1.75vh;
    font-size: 16px;
    padding-left: 45px;
    width: 35%;
    border: none;
  }
  ::placeholder {
    color: #00386c;
    font-weight: 800;
  }
}

// Wrapper Mobile
.linkHolderMobile {
  position: absolute;
  right: 0;
  background: #00386c;
  width: 250px;
  height: 175px;
  top: 50px;
  z-index: 101;
  margin-left: auto;
  -webkit-box-shadow: 0px 10px 12px 1px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 10px 12px 1px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 10px 12px 1px rgba(0, 0, 0, 0.46);

  .links {
    padding-left: 0;
    margin-top: 1rem;
    font-weight: bold;

    li {
      padding: 0.6rem;
      font-size: 1.25rem;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    list-style: none;
  }
}
// Navigacija Mobile
@media only screen and (max-width: 768px) {
  div.linkHolderDesktop {
    display: none;
  }
  div.hamburger-button {
    display: block;
    // border-radius: 0.25rem;
    // border: 1px solid #ffffff80;
    width: 50px !important;
    padding: 10px;
    height: 16px;
    margin: 0.5rem;
    position: absolute;
    right: 10px;
  }
  .navWrapper {
    justify-content: space-between;
  }
  .glupiSvg {
    margin-left: 30px;
  }
}
@media only screen and (min-width: 768px) {
  div.linkHolderDesktop {
    display: block;
  }
  div.hamburger-button {
    display: none;
  }
}

.active {
  // display:  none !important;
  transition: opacity 0.3s;
  display: none !important;
}
.navigation {
  width: 100%;
  height: 55px;
  background-color: #00386c;
  position: absolute;
  top: 0px;
}

.navWrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.linkHolder {
  margin-left: 10px;
  color: white;
  width: 100%;
}

.linkHolderDesktop a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  /* padding:16px; */

  border-right: solid 1px white;
  padding-right: 1rem;
  padding-left: 1rem;
}

.linkHolderDesktop {
  margin: auto 0;
}

.glupiSvg {
  min-width: 100px;
  max-width: 120px;
  width: 20%;
}
.active {
  display: block;
}

/*----------  TRANZICIJE - fade  ----------*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
