<template>
  <div>
    <ClientNavigation />
    <Nuxt />
    <ClientFooter />
  </div>
</template>

<style lang="scss">
$plava: #00386c;

// NAVIGATION

/*NAVIGATION*/
.ponuda-logo {
  margin-left: 30px;
  min-width: 100px;
  max-width: 120px;
  width: 20%;
}

// Wrapper Mobile
.linkHolderMobile {
  position: absolute;
  right: 0;
  background: #00386c;
  width: 250px;
  height: 175px;
  top: 50px;
  z-index: 101;
  margin-left: auto;
  -webkit-box-shadow: 0px 10px 12px 1px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 10px 12px 1px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 10px 12px 1px rgba(0, 0, 0, 0.46);

  .links {
    padding-left: 0;
    margin-top: 1rem;
    font-weight: bold;
    li {
      padding: 0.6rem;
      font-size: 1.25rem;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    list-style: none;
  }
}
// Navigacija Mobile
@media only screen and (max-width: 768px) {
  div.linkHolderDesktop {
    display: none;
  }

  div.hamburger-button {
    display: block;
    // border-radius: 0.25rem;
    // border: 1px solid #ffffff80;
    width: 27px !important;
    padding: 10px;
    height: 16px;
    margin: 0.5rem;
    position: absolute;
    right: 10px;
  }
  .navWrapper {
    justify-content: space-between;
  }
  .glupiSvg {
    margin-left: 30px;
  }
}
@media only screen and (min-width: 768px) {
  div.linkHolderDesktop {
    display: block;
  }
  div.hamburger-button {
    display: none;
  }
}

.active {
  // display:  none !important;
  transition: opacity 0.3s;
  display: none !important;
}
.navigation {
  width: 100%;
  height: 55px;
  background-color: $plava;
  position: absolute;
  top: 0px;
}

.navWrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 100%;
}
.linkHolder {
  margin-left: 10px;
  color: white;
  width: 100%;
}

.linkHolderDesktop a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  /* padding:16px; */
  border-right: solid 1px white;
  padding-right: 1rem;
  padding-left: 1rem;
}

.linkHolderDesktop {
  margin: auto 0;
}

.glupiSvg {
  min-width: 100px;
  max-width: 120px;
  width: 20%;
}
.active {
  display: block;
}

/*----------  TRANZICIJE - fade  ----------*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// FOOTER

#footer {
  background: $plava;
  font-weight: 500;
}

.containerFooter {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.slikeFooter {
  margin: auto;
  margin-left: 10px;
  img {
    padding: 35px;
    max-width: 225px;
  }
}

hr {
  border-bottom: 1px solid white;
  max-width: 85%;
  opacity: 30%;
}

.footer__mreze {
  display: flex;
  margin: auto;
  margin-left: 0;
  img {
    width: 35px;
  }
  a {
    padding: 10px;
  }
}

.prava {
  text-align: left;
  padding: 25px 15px;
  line-height: 1.6;
  font-size: 0.8rem;
  p a {
    margin-bottom: 0px;
    text-decoration: none;
    color: white;
  }
}

.copyright {
  margin: 0px;
  padding-bottom: 15px;
  font-size: 12px;
  color: white;
  // width: 49vw;

  a {
    text-decoration: none;
    color: white;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

@media only screen and (max-width: 1200px) {
  .containerFooter {
    width: 90%;
  }
  .prava {
    text-align: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -15px;

    p {
      margin: 0;
      padding: 0.5rem;
    }
  }

  .footer__mreze {
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .containerFooter {
    width: 100%;
  }
  .slikeFooter {
    img {
      padding: 20px;
      width: 150px;
    }
  }
  .footer__mreze {
    margin: auto;
    margin-bottom: 20px;
  }
}
</style>
